<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/list">List <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/completed">Completed Items <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <button class="deleteall" href="/deleteall">Delete All <span class="sr-only">(current)</span></button>
      </li>
    </ul>
  </div>
</nav>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
      $('.deleteall').click(function (e) {
        console.log(e.target.dataset.id);
        $.ajax({
          method: 'DELETE',
          url: `/deleteall`,
          data:{test:true}
        }).done((res) => {
          $(this).parent('li').fadeOut();
          location.reload(); // refresh the page
        }).fail((xhr, code, err) => {
          // failure
        });
      });    
</script>